.PasswordCreationForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
  .password-form {
    display: flex;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
}