
@import "./styles/base";

$vertical-padding: 1rem;
$horizontal-padding: 4rem;

.App {
  .modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(187, 187, 187, 0.404);
    .modal {
      height: 90%;
      width: 90%;
      .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: $white;
        box-sizing: border-box;
        padding-left: $horizontal-padding;
        padding-right: $horizontal-padding;
        padding-top: $vertical-padding;
        padding-bottom: $vertical-padding;
        .title-divider {
          width: 40px;
          height: 5px;
          background-color: #3ab6d7;
        }
        .form {
          box-sizing: border-box;
          padding-top: 3em;
          width: 100%;
          height: 100%;
          overflow: scroll;
        }
      }
    }
  }
  .bottom-control-buttons-divider {
    width: calc(100% + 2 * #{$horizontal-padding});
    height: 2px;
    margin-left: -$horizontal-padding;
    background-color: rgba(141, 139, 139, 0.123);
  }
  .bottom-control-buttons {
    display: flex;
    align-items: center;
    margin-top: $vertical-padding;
    height: 90px;
    justify-content: space-between;
    width: 100%;
  }

  h2 {
    color: $secondary-color;
    margin-bottom: 0.4em;
    font-size: 1.6em;
    font-weight: bold;
  }
}


